# Ignore all dotfiles...
.*
# Ignore emacs backups 
*~
# exception for .gitignore
!.gitignore

# .gitignore settings that Play creates
bin
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Additional Eclipse files to ignore 
.cache
*.autosave


